@page
@model WebServer.Pages.BikeRacks.IndexModel

@{
    ViewData["Title"] = "SQLite DB";
}
    
<h1>Database - Bike Racks (SQLite)</h1>

<ul>
    @foreach (var location in Model.BikeRack)
    {
        <li>Suburb: @location.Suberb; Address: @location.Address; Geolocation: @location.Latitude, @location.Logitude.</li>
    }
</ul>