@page
@model WebServer.Pages.BikeRacks.IndexModel

@{
    ViewData["Title"] = "SQLite DB";
}
    
<h1>@ViewData["Title"]</h1>








<ul>
    @foreach (var location in Model.BikeRack)
    {
        <li>@location.Latitude, @location.Logitude</li>
    }
</ul>


<p>!!! This is where the SQLite database goes.</p>