@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <!--<h1 class="display-4">Welcome Cat Worshippers!*</h1>-->
    <!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <p style="background-color:yellow ; font-size:50px">Welcome Cat Worshippers!*</p>
    <p style="font-size:15px">*Cats may or may not be affiliated with this project.</p>
</div>
